
/* .btn{
    width: 70px;
    height: 20px;
    list-style-type: none;
    border-radius: 1px;
    border: 1px solid rgb(167, 167, 167);
}

.btn :hover{
    cursor: pointer;
    background-color: rgb(45, 172, 172);
    color: aliceblue;
} */